body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #279EFF;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

header h1 {
    font-size: 32px;
}

nav {
    background-color: #0C356A;
    padding: 20px 0px 20px 40px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover {
    color: #279EFF;
    font-weight: bold;
}

main {
    padding: 20px;
    margin-top: 20px;
}

article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

article h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.artwork {
    flex-basis: calc(33.33% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 50px;
    position: relative;
}

.artwork img {
    max-width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.artwork:hover .overlay {
    opacity: 1;
}

.overlay h3, .overlay p {
    color: #fff;
    text-align: center;
}

aside {
    background-color: #fff;
    padding: 20px;
    margin-right: 20px;
}

aside h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

aside ul {
    list-style: none;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    text-decoration: none;
    color: #333;
}

footer {
    background-color: #0C356A;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
}
footer p a {
    color: white;
    text-decoration: none;
}

footer p a:hover {
    color: #40F8FF;
    text-decoration: none;
}


/* style artikel */
.article-card {
    max-width: 1000px;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    background-color: #f9f9f9;
}

.article-card img {
    max-width: 100%;
    height: 400px;
}

.article-card h2 {
    font-size: 24px;
    margin-top: 10px;
}

.article-card p {
    font-size: 16px;
}

.article-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #279EFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.article-card a:hover {
    background-color: #40F8FF;
}
